<script id="room-components" type="application/json"><%= raw @room.components.as_json %></script>
<div id="viewer"></section>

<%= stylesheet_pack_tag 'viewer', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'viewer', 'data-turbolinks-track': 'reload' %>
