.subtitle {
  $font-size: 24px;
  $shadow-size: $font-size / 20;
  $sub-shadow-size: $shadow-size / 2;

  font-size: $font-size;
  font-weight: bold;
  color: #fff;
  text-shadow:
      black $shadow-size 0px 0px, black (-$shadow-size) 0px 0px,
      black 0px (-$shadow-size) 0px, black 0px $shadow-size 0px,
      black $shadow-size $shadow-size 0px, black (-$shadow-size) $shadow-size 0px,
      black $shadow-size (-$shadow-size) 0px, black (-$shadow-size) (-$shadow-size) 0px,
      black $sub-shadow-size $shadow-size 0px, black (-$sub-shadow-size) $shadow-size 0px,
      black $sub-shadow-size (-$shadow-size) 0px, black (-$sub-shadow-size) (-$shadow-size) 0px,
      black $shadow-size $sub-shadow-size 0px, black (-$shadow-size) $sub-shadow-size 0px,
      black $shadow-size (-$sub-shadow-size) 0px, black (-$shadow-size) (-$sub-shadow-size) 0px,
      black $sub-shadow-size $sub-shadow-size 0px, black (-$sub-shadow-size) $sub-shadow-size 0px,
      black $sub-shadow-size (-$sub-shadow-size) 0px, black (-$sub-shadow-size) (-$sub-shadow-size) 0px;
}
