body {
  margin: 0;
  padding: 0;
}

#admin {
  header {
    nav {
      background-color: black;
      margin-bottom: 8px;

      h2 {
        margin: 0;
        margin-left: 8px;
        color: white;
      }
    }
  }
}

#admin-app {
  margin-left: 8px;
}

$font-size: 14px;
$base-width-s: 2px;
$base-width-m: 4px;
$base-width-l: 8px;
$base-height-s: 4px;
$base-height-m: 4px;

$skyblue: #3390cc;

input, textarea {
  padding: $base-height-s $base-width-m;
  &:active, &:focus {
    outline: none;
  }
}

input, textarea {
  background-color: #fafafa;
  font-size: $font-size;
  border: none;
}

input:focus {
  outline: none;
}

button {
  margin-left: $base-width-s;
  padding: $base-height-s $base-width-l;
  border: none;
  background-color: $skyblue;
  color: white;
  font-size: $font-size;

  &:hover, &:focus {
    background-color: #2888b8;
  }
}
